.table-wrap {
  display: inline-block;
  vertical-align: top;
}
.table-wrap .toolbar {
  padding-bottom: 15px;
  padding-top: 5px;
}
.table-wrap .toolbar .toolbar-item {
  display: inline-block;
  vertical-align: top;
}
.table-wrap .toolbar .toolbar-item.toolbar-button .button.disabled {
  opacity: 0.8;
  pointer-events: none;
}
.table-wrap .toolbar .toolbar-item.toolbar-input {
  width: 200px;
  position: relative;
}
.table-wrap .toolbar .toolbar-item.toolbar-input input[type="text"] {
  background: #FFF;
  border: 0 none;
  font-size: 15px;
  height: 36px;
  padding: 2px 6px;
  padding-right: 32px;
  width: 100%;
  color: #667B8B;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #B8CBDA;
  -webkit-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  -ms-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  -o-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  box-shadow: 0 1px 2px rgba(0,73,132,0.1);
}
.table-wrap .toolbar .toolbar-item.toolbar-input input[type="text"]:hover,
.table-wrap .toolbar .toolbar-item.toolbar-input input[type="text"]:focus {
  border-top: 2px solid #93B6D3;
  color: #1E6D9D;
}
.table-wrap .toolbar .toolbar-item.toolbar-input input[type="text"]:focus {
  -webkit-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  -moz-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  -ms-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  -o-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  box-shadow: 0 1px 3px rgba(0,73,132,0.4);
}
.table-wrap .toolbar .toolbar-item.toolbar-input.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.table-wrap .toolbar .toolbar-item.toolbar-input.disabled input[type="text"] {
  border-top: 2px solid #CED2D6;
  color: #A2A2A2;
}
.table-wrap .toolbar .toolbar-item.toolbar-input.disabled .button-dropdown .icon {
  border-top: 5px solid #D0D2D3;
}
.table-wrap .toolbar .toolbar-item.filter {
  width: 200px;
}
.table-wrap .toolbar .toolbar-item.filter .filter-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
.table-wrap .toolbar .toolbar-item.filter .label {
  display: inline-block;
  line-height: 36px;
  color: #4b7284;
  margin-right: 10px;
  vertical-align: top;
  padding-left: 2px;
}
.table-wrap .toolbar .toolbar-item.filter input[type="text"] {
  background: #FFF;
  border: 0 none;
  font-size: 15px;
  height: 36px;
  padding: 2px 6px;
  padding-right: 32px;
  width: 100%;
  color: #667B8B;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #B8CBDA;
  -webkit-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  -ms-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  -o-box-shadow: 0 1px 2px rgba(0,73,132,0.1);
  box-shadow: 0 1px 2px rgba(0,73,132,0.1);
}
.table-wrap .toolbar .toolbar-item.filter .button-dropdown {
  cursor: pointer;
  height: 34px;
  float: right;
  position: relative;
  text-align: center;
  width: 32px;
  margin-top: -34px;
}
.table-wrap .toolbar .toolbar-item.filter .button-dropdown .icon {
  border-top: 5px solid #9AB7CF;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  position: relative;
  margin-top: -2px;
  vertical-align: top;
  top: 50%;
  width: 0;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown {
  list-style: none;
  position: absolute;
  z-index: 50;
  background: #FFF;
  -webkit-box-shadow: 0 3px 10px rgba(0,41,85,0.5);
  -moz-box-shadow: 0 3px 10px rgba(0,41,85,0.5);
  -ms-box-shadow: 0 3px 10px rgba(0,41,85,0.5);
  -o-box-shadow: 0 3px 10px rgba(0,41,85,0.5);
  box-shadow: 0 3px 10px rgba(0,41,85,0.5);
  margin-top: 1px;
  min-width: 100%;
  text-align: left;
  display: none;
  max-height: 440px;
  overflow-x: hidden;
  overflow-y: auto;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li {
  color: #324A5E;
  line-height: 18px;
  padding: 6px 20px 6px 6px;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li span {
  color: #2288DA;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li strong {
  color: #618999;
  font-size: 12px;
  font-weight: normal;
  margin-left: 2px;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li.hide {
  display: none;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li.default {
  color: #5E8AAD;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li:hover {
  background: #EDFBFF;
  border-bottom: 1px solid #EDFBFF;
  color: #2C628E;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li.selected {
  background: #4F7598;
  color: #FFF;
  border-bottom: 1px solid #224C74;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown li.selected span {
  color: #FFF;
}
.table-wrap .toolbar .toolbar-item.filter .dropdown.open {
  display: block;
}
.table-wrap .toolbar .toolbar-item.filter .filter-wrap:hover .button-dropdown .icon,
.table-wrap .toolbar .toolbar-item.filter .filter-wrap input[type="text"]:focus ~ .button-dropdown .icon {
  border-top: 5px solid #6898BE;
}
.table-wrap .toolbar .toolbar-item.filter .button-dropdown:hover {
  background: #EDFBFF;
}
.table-wrap .toolbar .toolbar-item.filter .filter-wrap:hover input[type="text"],
.table-wrap .toolbar .toolbar-item.filter input[type="text"]:focus {
  border-top: 2px solid #93B6D3;
  color: #1E6D9D;
}
.table-wrap .toolbar .toolbar-item.filter input[type="text"]:focus {
  -webkit-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  -moz-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  -ms-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  -o-box-shadow: 0 1px 3px rgba(0,73,132,0.4);
  box-shadow: 0 1px 3px rgba(0,73,132,0.4);
}
.table-wrap .toolbar .toolbar-item.filter .filter-wrap.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.table-wrap .toolbar .toolbar-item.filter .filter-wrap.disabled input[type="text"] {
  border-top: 2px solid #CED2D6;
  color: #A2A2A2;
}
.table-wrap .toolbar .toolbar-item.filter .filter-wrap.disabled .button-dropdown .icon {
  border-top: 5px solid #D0D2D3;
}
.table-wrap .toolbar .toolbar-item.toolbar-label {
  line-height: 36px;
  color: #4B7284;
  padding-left: 2px;
}
.table-wrap .toolbar .toolbar-item.toolbar-label span.value {
  color: #667B8B;
  font-weight: bold;
  margin-left: 6px;
}
.table-wrap .toolbar.align-right {
  text-align: right;
}
.table-wrap .toolbar.align-right .toolbar-item {
  margin-left: 15px;
}
.table-wrap .toolbar.align-right .toolbar-item.align-left {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}
.table-wrap .toolbar.align-left .toolbar-item {
  margin-right: 15px;
}
.table-wrap .toolbar.align-left .toolbar-item.align-right {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.table-wrap.vertical {
  padding-right: 0 !important;
}
.table-wrap.vertical .toolbar {
  padding-right: 25px !important;
  padding-top: 0;
  display: inline-block;
  vertical-align: top;
}
.table-wrap.vertical .toolbar .toolbar-item {
  display: block !important;
  margin-bottom: 15px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.table-wrap.vertical .toolbar .toolbar-item.toolbar-label {
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.table-wrap.vertical .toolbar .toolbar-item.filter,
.table-wrap.vertical .toolbar .toolbar-item.toolbar-input {
  width: 100%;
}
.table-wrap.vertical .toolbar .toolbar-button {
  display: inline-block !important;
  width: 100%;
  margin-top: 8px;
}
.table-wrap.vertical .toolbar .toolbar-button .button {
  line-height: 40px;
}
.table-wrap.vertical table.table {
  display: inline-block;
}
.table-wrap table.table {
  font-size: 13px;
}
.table-wrap table.table caption {
  text-align: left;
}
.table-wrap table.table tr td.field-checkbox-id,
.table-wrap table.table tr th.field-checkbox-id {
  width: 19px;
}
.table-wrap table.table tr td.row-group > div,
.table-wrap table.table tr th.row-group > div {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.table-wrap table.table tr th {
  text-align: left;
}
.table-wrap table.table tr.empty-msg {
  display: none;
}
.table-wrap table.table tr.empty-msg td {
  padding: 30px 20px !important;
  text-align: center;
}
.table-wrap table.table input[type="checkbox"] {
  margin: 0 3px;
}
.table-wrap table.table .cell-link {
  display: block;
  margin: -6px -7px -7px -5px;
  line-height: 23px;
  padding: 3px 6px 4px;
}
.table-wrap table.table .cell-link.selected {
  background: #D6FBD5;
  color: #069609;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.table-wrap table.table input[type="text"] {
  margin: -6px -8px -7px -6px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  background: #FFF;
  border: 0 none;
  font-size: 13px;
  height: 24px;
  vertical-align: top;
  padding: 2px 6px;
  border: 1px solid #C2D0DC;
  width: 60px;
  min-width: 100%;
  color: #667B8B;
}
.table-wrap table.table input[type="text"]:hover,
.table-wrap table.table input[type="text"]:focus {
  border: 1px solid #9EB2CB;
  color: #1E6D9D;
  position: relative;
}
.table-wrap table.table input[type="text"]:focus {
  -webkit-box-shadow: 0 0 2px #82B2D5;
  -moz-box-shadow: 0 0 2px #82B2D5;
  -ms-box-shadow: 0 0 2px #82B2D5;
  -o-box-shadow: 0 0 2px #82B2D5;
  box-shadow: 0 0 2px #82B2D5;
}
.table-wrap.theme-white table.table {
  background: #FFF;
}
.table-wrap.theme-white table.table tr td,
.table-wrap.theme-white table.table tr th {
  padding: 3px 5px;
  border: 1px solid #000;
}
.table-wrap.theme-white table.table tr th {
  font-size: 11px;
}
.table-wrap.theme-flat .toolbar.box {
  background: #FFF;
  border-bottom: 1px solid #D1E4E8;
  border-right: 1px solid #D1E4E8;
  border-top: 3px solid #91B4CC;
  -webkit-box-shadow: 0 0 3px rgba(3,46,81,0.1);
  -moz-box-shadow: 0 0 3px rgba(3,46,81,0.1);
  -ms-box-shadow: 0 0 3px rgba(3,46,81,0.1);
  -o-box-shadow: 0 0 3px rgba(3,46,81,0.1);
  box-shadow: 0 0 3px rgba(3,46,81,0.1);
  padding: 5px 10px 8px !important;
  margin-bottom: 10px;
}
.table-wrap.theme-flat .toolbar.box .toolbar-item {
  line-height: 20px !important;
  padding-bottom: 5px;
  padding-top: 5px;
}
.table-wrap.theme-flat .toolbar.box .toolbar-item.toolbar-label {
  margin-bottom: 0;
}
.table-wrap.theme-flat .toolbar.box >.cross-link {
  margin-right: -5px;
  margin-left: 10px;
  line-height: 26px;
  float: right;
}
.table-wrap.theme-flat .toolbar.box >.cross-link .icon {
  margin-left: 4px;
  margin-right: 3px;
}
.table-wrap.theme-flat table.table {
  background: #FFF;
  color: #245A69;
  border-collapse: separate;
  -webkit-box-shadow: 0px 0px 3px rgba(3,46,81,0.1);
  -moz-box-shadow: 0px 0px 3px rgba(3,46,81,0.1);
  -ms-box-shadow: 0px 0px 3px rgba(3,46,81,0.1);
  -o-box-shadow: 0px 0px 3px rgba(3,46,81,0.1);
  box-shadow: 0px 0px 3px rgba(3,46,81,0.1);
}
.table-wrap.theme-flat table.table caption {
  color: #4679a3;
  font-size: 17px;
  padding-bottom: 7px;
  padding-left: 3px;
}
.table-wrap.theme-flat table.table tr td {
  padding: 6px 7px 7px 5px;
  font-size: 13px;
  border-bottom: 1px solid #D1E4E8;
  vertical-align: baseline;
  border-right: 1px solid #D1E4E8;
}
.table-wrap.theme-flat table.table tr th {
  padding: 9px 9px 8px 5px;
  font-size: 14px;
  background: #5B7F9C;
  color: #FFF;
  font-weight: normal;
}
.table-wrap.theme-flat table.table tr th a {
  color: #FFF;
}
.table-wrap.theme-flat table.table tr th a:hover,
.table-wrap.theme-flat table.table tr th a:focus {
  color: #A8E0F9;
}
.table-wrap.theme-flat table.table tr.row-subhead td,
.table-wrap.theme-flat table.table tr.row-subhead th {
  padding: 6px 9px 6px 5px;
  font-size: 13px;
  background: #CDE5EF;
  color: #245A69;
  border-right: 1px solid #A8C9D6;
}
.table-wrap.theme-flat table.table tr.row-subhead td:last-child,
.table-wrap.theme-flat table.table tr.row-subhead th:last-child {
  border-right: 1px solid #BBDCE8;
}
.table-wrap.theme-flat table.table tr.row-subhead-light td,
.table-wrap.theme-flat table.table tr.row-subhead-light th {
  background: #EEFAFF;
  border-right: 0 none;
  border-top: 3px solid #91B4CC;
  color: #245A69;
  border-bottom: 1px solid #D1E4E8;
  padding: 6px 7px 7px 5px;
  vertical-align: middle;
}
.table-wrap.theme-dark {
  -webkit-box-shadow: 0 0 3px #0F1518;
  -moz-box-shadow: 0 0 3px #0F1518;
  -ms-box-shadow: 0 0 3px #0F1518;
  -o-box-shadow: 0 0 3px #0F1518;
  box-shadow: 0 0 3px #0F1518;
}
.table-wrap.theme-dark .toolbar {
  background: #48738E;
  -webkit-box-shadow: 0 0 3px #202B2F;
  -moz-box-shadow: 0 0 3px #202B2F;
  -ms-box-shadow: 0 0 3px #202B2F;
  -o-box-shadow: 0 0 3px #202B2F;
  box-shadow: 0 0 3px #202B2F;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  z-index: 1;
}
.table-wrap.theme-dark .toolbar .toolbar-item {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter input[type="text"] {
  background: #345E77;
  font-size: 13px;
  height: 34px;
  padding: 2px 32px 3px 6px;
  color: #A0CEFF;
  border-top: 2px solid #37759C;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter .button-dropdown {
  height: 32px;
  width: 30px;
  margin-top: -32px;
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter .button-dropdown .icon {
  border-top: 5px solid #6898BE;
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter .filter-wrap:hover .button-dropdown .icon,
.table-wrap.theme-dark .toolbar .toolbar-item.filter.focus .button-dropdown .icon {
  border-top: 5px solid #89C9FE;
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter .dropdown li {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter .button-dropdown:hover {
  background: #396E8E;
  -webkit-box-shadow: 1px 1px 3px rgba(30,59,82,0.52);
  -moz-box-shadow: 1px 1px 3px rgba(30,59,82,0.52);
  -ms-box-shadow: 1px 1px 3px rgba(30,59,82,0.52);
  -o-box-shadow: 1px 1px 3px rgba(30,59,82,0.52);
  box-shadow: 1px 1px 3px rgba(30,59,82,0.52);
}
.table-wrap.theme-dark .toolbar .toolbar-item.filter .filter-wrap:hover input[type="text"],
.table-wrap.theme-dark .toolbar .toolbar-item.filter input[type="text"]:focus {
  border-top: 2px solid #5FA9D7;
  color: #D3E8FF;
}
.table-wrap.theme-dark table.table {
  background: #324047;
  color: #FFF;
  border-collapse: separate;
}
.table-wrap.theme-dark table.table caption {
  font-size: 17px;
  padding-bottom: 7px;
  padding-left: 3px;
}
.table-wrap.theme-dark table.table input[type="checkbox"] {
  -webkit-box-shadow: 0 0 6px #173647;
  -moz-box-shadow: 0 0 6px #173647;
  -ms-box-shadow: 0 0 6px #173647;
  -o-box-shadow: 0 0 6px #173647;
  box-shadow: 0 0 6px #173647;
  opacity: 0.9;
}
.table-wrap.theme-dark table.table tr td {
  padding: 6px 7px 6px 5px;
  font-size: 11px;
  border-bottom: 1px solid #28343A;
  vertical-align: baseline;
}
.table-wrap.theme-dark table.table tr th {
  padding: 8px 9px 8px 5px;
  font-size: 12px;
  border-bottom: 1px solid #293A41;
  background: #335162;
  color: #9AF0FF;
  font-weight: normal;
}
.table-wrap.theme-dark table.table tr th a {
  color: #FFF;
}
.table-wrap.theme-dark table.table tr th a:hover,
.table-wrap.theme-dark table.table tr th a:focus {
  color: #A8E0F9;
}
.table-wrap.theme-dark table.table tr:last-child td,
.table-wrap.theme-dark table.table tr:last-child th {
  border-bottom: 0 none;
}
.table-wrap.theme-dark table.table tr.row-subhead td,
.table-wrap.theme-dark table.table tr.row-subhead th {
  padding: 6px 9px 6px 5px;
  font-size: 13px;
}
